@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;

300;400;500&display=swap);.logo {
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

.logo img {
  height: 100px;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main-nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
}

.main-nav-list a.active {
  background-color: #B3E5FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

