@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;

300;400;500&display=swap);.logo {
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

.logo img {
  height: 100px;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.main-nav-list li {
  padding: 15px;
}

.main-nav-list li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
}

.main-nav-list li a.active {
  background-color: #B3E5FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

footer {
  width: 100%;
  background-image: url("/img/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-wrap: wrap;
  color: #808080;
  font-size: 16px;
}

footer div {
  width: 30%;
  padding-right: 30px;
}

footer div p {
  padding-bottom: 30px;
}

footer nav {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding-bottom: 100px;
}

footer nav ul {
  width: 50%;
  list-style: none;
  padding-bottom: 10px;
}

footer nav ul li {
  padding: 5px;
}

footer nav ul li:first-child {
  text-transform: uppercase;
  padding-bottom: 20px;
}

footer nav ul a {
  text-decoration: none;
  color: #808080;
}

.pasta-list {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

.pasta-list .container {
  padding: 50px;
}

.pasta-list h2 {
  color: #002d75;
  padding: 15px 0;
  font-size: 24px;
}

.pasta-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pasta-list ul li {
  width: 30%;
  background-color: blue;
  margin: 5px;
}

.pasta-list ul li .img-responsive {
  width: 100%;
  height: 100%;
}

.pasta-list ul li .img-responsive img {
  max-width: 100%;
  height: auto;
  display: block;
}

