.detail {
    background-color: $mainColor;
    padding: 20px 0;

    h1 {
        text-align: center;
        color: $titleColor;
    }

    img {
        @include imgResponsive;
    }

    p {
        font-size: 18px;
        color: $titleColor;
    }
}