.pasta-list {
    background-image: url('/img/fondo-pag-speciali.jpg');

    .container {
        padding: 50px;
    }

    h2 {
        color: $titleColor;
        padding: 15px 0;
        font-size: 24px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        // padding:

            li {
                width: 30%;
                background-color: blue;
                margin: 5px;

                .img-responsive {
                width: 100%;
                height: 100%;
                

                    img {
                        max-width: 100%;
                        height: auto;
                        display:block;
                    }
                }
            }
        }
    
}